Incorrect length checking

The following invalid email addresses are passing validation:

`test@abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijkl.com` - here the label in domain part is 64 characters long, but according to [RFC 2181](https://www.rfc-editor.org/rfc/rfc2181#section-11) a maximum of 63 is allowed.

> The DNS itself places only one restriction on the particular labels
   that can be used to identify resource records.  That one restriction
   relates to the length of the label and the full name.  The length of
   any one label is limited to between 1 and 63 octets.  A full domain
   name is limited to 255 octets (including the separators).

`abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijkl@abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijk.abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijk.abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghij` - here total length of the address is 255 but 254 should be the limit, see [Errata 1690](https://www.rfc-editor.org/errata/eid1690).

> In addition to restrictions on syntax, there is a length limit on
   email addresses.  That limit is a maximum of 64 characters (octets)
   in the "local part" (before the "@") and a maximum of 255 characters
   (octets) in the domain part (after the "@") for a total length of 320
   characters. However, there is a restriction in RFC 2821 on the length of an
   address in MAIL and RCPT commands of 254 characters.  Since addresses
   that do not fit in those fields are not normally useful, the upper
   limit on address lengths should normally be considered to be 254.

I wish I had documented which rfc I was referring to in this commit... but:

commit 298cd9562a3ba24e00a15e68c9d1d44e6096e590
Author: Jeffrey Stedfast <jestedfa@microsoft.com>
Date:   Sun Nov 15 10:47:21 2020 -0500

    Fixed a few max-length bugs

    1. email addresses can be up to 256 characters (not 254)
    2. local-parts can be up to 64 characters (not 63)
    3. each sub-domain can be up to 64 characters (not 63)
    4. top-level domains cannot be fewer than 2 characters


In [rfc2821, section 4.5.3.1](https://datatracker.ietf.org/doc/html/rfc2821#section-4.5.3.1):

```
   domain
      The maximum total length of a domain name or number is 255
      characters.
```

[RFC 2821](https://datatracker.ietf.org/doc/html/rfc2821#section-4.5.3.1) was obsoleted by [RFC 5321](https://datatracker.ietf.org/doc/html/rfc5321#section-4.5.3.1), but it still states the same:

>The maximum total length of a reverse-path or forward-path is 256
      characters (including the punctuation and element separators)

in [section 4.1.2](https://datatracker.ietf.org/doc/html/rfc5321#section-4.1.2) it says that reverse-path and forward-path contains mailbox AKA email address enclosed between `<` and `> therefore 254 characters are left for email address.

However I don't see any character limits for sub-domains in this RFC, only domain part as a whole, so I think the limit of 63 from [RFC 2181](https://www.rfc-editor.org/rfc/rfc2181#section-11) should be respected.



I would ignore the `Reverse-Path` and/or `Forward-Path` definitions because it's more likely that they just got their math wrong.



Email validation services like https://isemail.info/ and https://verifalia.com/validate-email seem to agree that the maximum length is 254 characters. 

Otherwise if you were to ignore RFC 5321 `Path` spec and just follow `Local-part` and `Domain` specs, the total maximum length would be 64 + 1 + 255 = 320. I don't see where the current 256 limit comes from.