IPv6 address literals should not start with a single colon

Hi,

Please correct me if I'm wrong. According to the [RFC 5321 section 4.1.3](https://datatracker.ietf.org/doc/html/rfc5321#section-4.1.3)

>     IPv4-address-literal  = Snum 3("."  Snum)
>
>     IPv6-address-literal  = "IPv6:" IPv6-addr
>
>     General-address-literal  = Standardized-tag ":" 1*dcontent
>
>     Standardized-tag  = Ldh-str
>                       ; Standardized-tag MUST be specified in a
>                       ; Standards-Track RFC and registered with IANA
>
>     dcontent       = %d33-90 / ; Printable US-ASCII
>                    %d94-126 ; excl. "[", "\", "]"
>
>     Snum           = 1*3DIGIT
>                    ; representing a decimal integer
>                    ; value in the range 0 through 255
>
>     IPv6-addr      = IPv6-full / IPv6-comp / IPv6v4-full / IPv6v4-comp
>
>     IPv6-hex       = 1*4HEXDIG
>
>     IPv6-full      = IPv6-hex 7(":" IPv6-hex)
>
>     IPv6-comp      = [IPv6-hex *5(":" IPv6-hex)] "::"
>                    [IPv6-hex *5(":" IPv6-hex)]
>                    ; The "::" represents at least 2 16-bit groups of
>                    ; zeros.  No more than 6 groups in addition to the
>                    ; "::" may be present.
>
>     IPv6v4-full    = IPv6-hex 5(":" IPv6-hex) ":" IPv4-address-literal
>
>     IPv6v4-comp    = [IPv6-hex *3(":" IPv6-hex)] "::"
>                    [IPv6-hex *3(":" IPv6-hex) ":"]
>                    IPv4-address-literal
>                    ; The "::" represents at least 2 16-bit groups of
>                    ; zeros.  No more than 4 groups in addition to the
>                    ; "::" and IPv4-address-literal may be present.

email addresses like `invalid@[IPv6::1::1]` should not be valid. `IPv6-addr` should either start with a `HEXDIG` or a double colon `::`. But in the example that passes the validation it is equal to `:1::1` as the colon immediately after IPv6 string is actually part of the prefix defined in `IPv6-address-literal` .